[submodule "services/api"]
	path = services/api
	url = https://github.com/jmormal/hidris_api.git
[submodule "services/frontend"]
	path = services/frontend
	url = https://github.com/jmormal/FloodViewer.git
